src/main/resources/com/glenfordham/webserver/automation/config/config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
        xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
        jaxb:version="1.0"
        jaxb:extensionBindingPrefixes="xjc"
        xjc:version="2.3.3"
        elementFormDefault="qualified">

    <!-- JAXB Class generation config -->
    <xs:annotation>
        <xs:appinfo>
            <jaxb:globalBindings
                    fixedAttributeAsConstantProperty="true"
                    typesafeEnumBase="xs:NCName"
                    choiceContentProperty="true"
                    typesafeEnumMemberName="generateError"
                    enableFailFastCheck="false"
                    generateIsSetMethod="false">
                <jaxb:javaType xmlType="xs:integer" name="java.lang.Integer"/>
            </jaxb:globalBindings>
        </xs:appinfo>
    </xs:annotation>


    <!-- Config -->
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authentication_token" type="authentication_token"/>
                <xs:element name="broadlink" type="broadlink" minOccurs="0"/>
                <xs:element name="carport" type="carport" minOccurs="0"/>
                <xs:element name="command_line" type="command_line" minOccurs="0"/>
                <xs:element name="email" type="email" minOccurs="0"/>
                <xs:element name="gpio" type="gpio" minOccurs="0"/>
                <xs:element name="proxy" type="proxy" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Authentication Token -->
    <xs:complexType name="authentication_token">
        <xs:sequence>
            <xs:element name="token" type="xs:string"/>
            <xs:element name="behaviour" type="token_behaviour"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="token_behaviour">
        <xs:restriction base="xs:string">
            <xs:enumeration value="static"/>
            <xs:enumeration value="seed"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Carport -->
    <xs:complexType name="carport">
        <xs:sequence>
            <xs:element name="request" type="carport_request" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="requests"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="carport_request">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="action" type="carport_action"/>
            <!-- If two gpio_request_name elements provided, first will be used for door trigger action, second will be used to get door status -->
            <xs:element name="gpio_request_name" type="xs:string"
                        maxOccurs="2"/>
            <!-- Used for close action only, how long to wait before re-checking door status after invoking door trigger-->
            <xs:element name="wait_time" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="carport_action">
        <xs:restriction base="xs:string">
            <xs:enumeration value="open"/>
            <xs:enumeration value="close"/>
            <xs:enumeration value="trigger"/>
            <xs:enumeration value="status"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- GPIO -->
    <xs:complexType name="gpio">
        <xs:sequence>
            <xs:element name="request" type="gpio_request" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="requests"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="gpio_request">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="carport_only" type="xs:boolean"/>
            <xs:element name="write" type="gpio_write" minOccurs="0"/>
            <xs:element name="read" type="gpio_read" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="gpio_write">
        <xs:sequence>
            <xs:element name="pin" type="xs:integer"/>
            <xs:element name="behaviour" type="gpio_write_behaviour"/>
            <xs:element name="value" type="gpio_write_value"/>
            <xs:element name="wait_time_before_reset"
                        type="xs:integer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="gpio_write_behaviour">
        <xs:restriction base="xs:string">
            <xs:enumeration value="write_then_reset"/>
            <xs:enumeration value="write"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gpio_write_value">
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="gpio_read">
        <xs:sequence>
            <xs:element name="pin" type="xs:integer"/>
            <xs:element name="behaviour" type="gpio_read_behaviour"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="gpio_read_behaviour">
        <xs:restriction base="xs:string">
            <xs:enumeration value="read"/>
        </xs:restriction>
    </xs:simpleType>


    <!-- Email -->
    <xs:complexType name="email">
        <xs:sequence>
            <xs:element name="mailbox" type="mailbox" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="mailboxes"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="request" type="email_request" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="requests"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mailbox">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="host" type="xs:string"/>
            <xs:element name="port" type="xs:integer"/>
            <xs:element name="authenticate" type="xs:boolean"/>
            <xs:element name="username" type="xs:string" minOccurs="0"/>
            <xs:element name="password" type="xs:string" minOccurs="0"/>
            <xs:element name="tls" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="email_request">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="mailbox_name" type="xs:string"/>
            <xs:element name="to" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="from" type="xs:string"/>
            <xs:element name="subject" type="xs:string"/>
            <xs:element name="message" minOccurs="0" type="xs:string"/>
            <xs:element name="html" type="xs:boolean"/>
            <xs:element name="headers" type="email_header" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="email_header">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="text" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Command Line -->
    <xs:complexType name="command_line">
        <xs:sequence>
            <xs:element name="request" type="command_line_request" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="requests"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="command_line_request">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="command_line" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Broadlink -->
    <xs:complexType name="broadlink">
        <xs:sequence>
            <xs:element name="cli_path" type="xs:string"/>
            <xs:element name="device" type="broadlink_device" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="devices"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="signal" type="broadlink_signal" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="signals"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="request" type="broadlink_request" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="requests"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="broadlink_request">
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="broadlink_device_name" type="xs:string"/>
                <xs:element name="signal_name" type="xs:string"/>
            </xs:sequence>
    </xs:complexType>

    <xs:complexType name="broadlink_signal">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="broadlink_device">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="device_code" type="xs:string"/>
            <xs:element name="ip_address" type="xs:string"/>
            <xs:element name="mac_address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>


    <!-- Proxy -->
    <xs:complexType name="proxy">
        <xs:sequence>
            <xs:element name="host" type="proxy_host" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="hosts"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="request" type="proxy_request" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <jaxb:property name="requests"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="proxy_host">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="fqdn" type="xs:string"/>
            <xs:element name="scheme" type="xs:string"/>
            <xs:element name="port" type="xs:integer"/>
            <xs:element name="connection_timeout" type="xs:integer"/>
            <xs:element name="read_timeout" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="proxy_request">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="host" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>